<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<h2> Movie Added Successfully....</h2>
<form action="addmovie" method ="post">
<label> Movie Name </label>
<input type="text" name="moviename"><br><br>
<label> Movie Link </label>
<input type="text" name="movielink"><br><br>
<label> Movie Genre </label>

	<select name ="movieGenre">
	<option value ="Action"> Action </option>
	<option value ="Horror"> Horror </option>
	<option value ="Sci-fi"> Sci-fi </option>
	<option value ="Adventure"> Adventure </option>
	<option value ="Drama"> Drama</option>
	<option value ="Romance"> Romance </option>
	<option value ="Thriller"> Thriller </option>
	<option value ="Crime"> Crime </option>
	<option value ="Comedy"> Comedy </option>
	<option value ="Cartoon"> Cartoon </option>
	</select>
	<br><br>
<label> Movie Cast </label>
<input type="text" name="movieCast">
	<br><br>
<label> Movie Director </label>
<input type="text" name="movieDirector">
	<br><br>
<input type="submit" name="Add Movie">
</form>

</body>
</html>