<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>  Users List </title>
</head>
<body>
<h2> All Users </h2>

	<table border ="1">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Gender</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user : ${user}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.phone}"></td>
			<td th:text="${user.gender}"></td>
			<td th:text="${user.address}"></td>
			
		</tr>
	</tbody>
		</table>
</body>
</html>